TestMathService/Service References/MathServiceReference1/MathService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MathService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59965/MathService1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59965/MathService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sample.Models" />
      <xsd:import schemaLocation="http://localhost:59965/MathService1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathService1_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMathService1_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService1_Add_FaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Sample.Models" name="detail" element="q1:FaultInfo" />
  </wsdl:message>
  <wsdl:message name="IMathService1_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IMathService1_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService1_Divide_FaultInfoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Sample.Models" name="detail" element="q2:FaultInfo" />
  </wsdl:message>
  <wsdl:portType name="IMathService1">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService1/Add" message="tns:IMathService1_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService1/AddResponse" message="tns:IMathService1_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMathService1/AddFaultInfoFault" name="FaultInfoFault" message="tns:IMathService1_Add_FaultInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService1/Divide" message="tns:IMathService1_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService1/DivideResponse" message="tns:IMathService1_Divide_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMathService1/DivideFaultInfoFault" name="FaultInfoFault" message="tns:IMathService1_Divide_FaultInfoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMathService1" type="tns:IMathService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMathService1/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInfoFault">
        <soap:fault use="literal" name="FaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/IMathService1/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInfoFault">
        <soap:fault use="literal" name="FaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService1">
    <wsdl:port name="BasicHttpBinding_IMathService1" binding="tns:BasicHttpBinding_IMathService1">
      <soap:address location="http://localhost:59965/MathService1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>