Wpf/WpfPingTool/SampleData/SamplePingData/SamplePingData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SamplePingData" targetNamespace="Expression.Blend.SampleData.SamplePingData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SamplePingData" type="tns:SamplePingData" />
  <xs:complexType name="SamplePingData">
    <xs:sequence>
      <xs:element name="PingItemCollection" type="tns:PingItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PingItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PingItemCollectionItem" type="tns:PingItemCollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PingItemCollectionItem">
    <xs:attribute name="Host" type="xs:string" />
    <xs:attribute name="Result" type="xs:boolean" />
    <xs:attribute name="Time" type="xs:double" />
  </xs:complexType>
</xs:schema>